<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  Essential META Tags -->
  <meta property="og:title" content="${project_title}">
  <meta property="og:type" content="article" />
  <meta property="og:image" content="${project_image_url}">
  <meta property="og:url" content="${project_url}">
  <meta name="twitter:card" content="summary_large_image">

  <!--  Non-Essential, But Recommended -->
  <meta property="og:description" content="${project_description}">
  <meta property="og:site_name" content="${project_sitename}">
  <meta name="twitter:image:alt" content="${project_alt_text}">

  <title>${project_title}</title>

</head>

<body>
  <example-component id="example_component"></example-component>
  <script>

    //This should probably be an onload command, but for simplicity's sake
    // we're just going to use a timeout. This ensurues this code doesn't
    // run until the custom Elements are rendered
    setTimeout(()=>{
      // notice we use the dataroom.js "once" function -- dataroom-js
      // has custom events setup for ease of use. 
      example_component.on("WEB-WORKER-RESPONSE", (data) => {
        console.log(data)
      })
    },1000)
  </script>
</body>

</html>